
{% load static %}
{% block title_text %}ড্যাশবোর্ড{% endblock %}

{% block extra_css %}
<style>
    h4{
        color: red;
        font-size: 26px !important;
        background-image: url('{% static "images/Alamin.jpg" %}');
    }
</style>
{% endblock extra_css %}

{% block content_body %}

<div>    
    <div class="row pl-2 pr-2">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 col-xl-3 banner-card">
            <a href="{% url 'student_dashboard' %}" class="card card-item dashboard_item">
                <div class="card-body text-center">
                    <img class="all_car" src="images/Alamin-ImResizer.jpg">
                    <h4 class="tile-title text-center mt-2">
                        Student
                    </h4>
                </div>
            </a>
        </div> 
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 col-xl-3 banner-card">
            <a href="" class="card card-item dashboard_item">
                <div class="card-body text-center">
                    <img src="images/Alamin-ImResizer.jpg" alt="">
                    <h4 class="tile-title text-center mt-2">
                        Teacher
                    </h4>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 col-xl-3 banner-card">
            <a href="" class="card card-item dashboard_item">
                <div class="card-body text-center">
                    <img src="" alt="">
                    <h4 class="tile-title text-center mt-2">
                        Gurdian
                    </h4>
                </div>
            </a>
        </div>        
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 col-xl-3 banner-card">
            <a href=""  class="card card-item dashboard_item">
                <div class="card-body text-center">
                    <img class="allocation" src="" alt="">
                    <h4 class="tile-title text-center mt-2">Admin</h4>
                </div>
            </a>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 col-xl-3">
            <a href="" class="card card-item dashboard_item">
                <div class="card-body text-center">
                    <img src="">
                    <h4 class="tile-title text-center mt-2">
                        Accounts
                    </h4>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 col-xl-3">
            <a href="" class="card card-item dashboard_item">
                <div class="card-body text-center">
                    <img src="">
                    <h4 class="tile-title text-center mt-2">
                        Report
                    </h4>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 col-xl-3">
            <a href="" class="card card-item dashboard_item">
                <div class="card-body text-center">
                    <img src="">
                    <h4 class="tile-title text-center mt-2">
                        Others
                    </h4>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}